@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root { 

    font-size: 16px;

    --primary-green: #59a959;
    --primary-yellow: #FFFF55;

    --text-color: #1C1C1C;
}

body {
    color: var(--text-color);
    font-family: "Lexend Deca", serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}